.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-description {
    color:  #F4F4FD;
}

.footer-logo:hover .focus-color-web,
.footer-logo:focus .focus-color-web {
  color: #4d5ae5;
}